
@keyframes navslide{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
transform: translateY();
    }
}


@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes floatCard {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-12px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes floatIcon {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


@keyframes gradientMove{

    0%{
        background-position: 0%;
    }

    100%{
        background-position: 300%;
    }

}

@keyframes scrollWheel{

    0%{

        transform: translateY(0);

        opacity:1;

    }

    100%{

        transform: translateY(15px);

        opacity:0;

    }

}


@keyframes pulseGlow{

    0%{
        box-shadow:0 0 10px rgba(56,189,248,.3);
    }

    50%{
        box-shadow:
            0 0 20px rgba(56,189,248,.8),
            0 0 40px rgba(56,189,248,.5);
    }

    100%{
        box-shadow:0 0 10px rgba(56,189,248,.3);
    }

}